{% extends 'default.html.twig' %}

{% block body %}

    <div class="user-list">
        {% for user in lastCreatedUsers %}
            <span class="user-list-item"> 
                <a href="{{ path('user_plants', {'userId': user.id}) }}">{{ user.username }}</a>  
            </span>
        {% endfor %}
    </div>

{% endblock %}
