{% extends 'default.html.twig' %}

{% block title %}
    Sign up successfull
{% endblock %}

{% block body %}

    <h1><i class="fas fa-tree"></i> Congrats, you're now ready to <a href="{{ path('security_login') }}">log in</a> ! </h1>
    
{% endblock %}



