* {
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color : var(--color-medium-light);
    font-family: var(--font-default);

    background-image: url('https://64.media.tumblr.com/6140e221315db8943ff5d7c40c6864fa/tumblr_pffa9tBY691svq6hoo1_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



#main {
    max-width: var(--default-width);
    margin: auto;
}


figure.picture {
    border: var(--border-default);
    position: relative;
    margin-bottom: var(--spacing-default);
}


figure.picture img  {
    min-width: 100%;
}


figure.picture .picture__meta   {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: solid 1px var(--color-lightest);
    padding: var(--spacing-default);
    font-size: var(--font-size-big);
    background-color: var(--color-medium-light);
    backdrop-filter: grayscale(0.5) blur(3px);
    justify-content: space-between;
}


