/*===================================================*/

.table td {
    border: solid 1px var(--color-darkest); 
}

.table thead th {
    border: solid 1px var(--color-darkest); 
    background-color: var(--color-highlight);
}


.table tr:nth-child(even) {
    background-color: var(--color-medium-dark);
}

.table td a {
    display: inline-block;
    padding: var(--gutter-small);
    border: solid 1px #000;
    border-radius: var(--gutter-small);
    box-sizing: border-box;
    background-color: var(--color-medium);
    text-decoration: none;
    transition: all 0.3s;
}

.table td a:hover {
    background-color: var(--color-highlight);
}
