{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="button">{{ button_label|default('Update') }}</button>
    
{{ form_end(form) }}
<div class="required-info"><i class="fas fa-star-of-life"></i> Required fields</div>
