{# not sure if it's called somewhere... #}

{% if currentPlant is defined %}
<section class="ftco-section ftco-bread" style="background-image: url({{ asset('uploads/avatars/' ~ currentPlant.cover) }})">
{% else %} 
<section class="ftco-section ftco-bread">
{% endif %}

<div class="container">
    <div class="row no-gutters slider-text justify-content-center align-items-center">
        <div class="col-md-8 ftco-animate">


            {% if currentPlant is defined %}
                <h1 class="bread">{{ currentPlant.name }}</h1>
            {% else %} 
                <h1 class="bread">Lettuce seed</h1>
            {% endif %}
            
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <p class="breadcrumbs">
                    Tracking plants with ease. 
                </p>
            {% endif %}
                                            

        </div>
    </div>
</div>
</section>
