<!-- NOTICE navbar -->
<nav id="colorlib-main-menu" role="navigation">
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('security_login') }}">Login</a></li>
        <li><a href="{{ path('member_signup') }}">Sign up</a></li>
    </ul>
</nav>

