
<!-- STEP navbar -->
{# If the user is logged on, we shd only show the logout button and his username #}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('security_logout') }}">Logout</a>
{# If he's not, show the login button  #}
{% else %}
    <a href="{{ path('security_login') }}">Login</a>

    <a href="{{ path('member_signup') }}">Sign up</a>
{% endif %}