:root {
    --default-width: 920px;


    --color-lightest: #fff;
    --color-medium: #ccc9;
    --color-medium-light: #ddd9;
    --color-medium-dark: #aaa9;

    --color-darkest: #0009;
    --color-highlight: #b4d455;

    --color-interactive-00: #CA1235;




    --font-default: Verdana, Geneva, Tahoma, sans-serif;
    --font-size-default: 1rem;
    --font-size-big: calc(var(--font-size-default) * 2);

    

    --spacing-default: 1rem;
    --spacing-smallest: calc(var(--spacing-default) / 3);

    
    --gutter-default: var(--spacing-default);
    --gutter-large: calc(var(--gutter-default) * 2);
    --gutter-small: calc(var(--gutter-default) * 0.5);


    --border-width-default: 1px;
    --border-default : solid var(--border-width-default) var(--color-darkest);

    --border-radius-default: var(--spacing-default);
    --border-radius-small: calc(var(--spacing-default) / 2);

    --font-fancy-00: 'Baloo Paaji 2', cursive;

}
