{% extends 'default.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <h1>Welcome {{ user.username }}</h1>
    <div>
        <a class="button button-mb" href="{{ path('dashboard_profile') }}">Go to my profile</a> 
        <a class="button button-mt" href="{{ path('dashboard_plants') }}">See my plants</a>
    </div>
{% endblock %}
