{% extends 'default.html.twig' %}

{% block body %}
<h1>caca boudin</h1>
<!-- DOC TEMPLATE OVERRIDE https://symfony.com/doc/current/bundles/override.html#templates -->
<!-- pour tester : http://localhost/lettuce-seed/public/_error/404 -->
{% endblock %}
